{% extends "base.html" %}

{% block title %}Nowa gra{% endblock %}

{% block content %}

    <h2>🎲 Nowa gra (jeszcze nie grana)</h2>
    <form method="POST" action="/nowa_gra">
        <label>Właściciel gry:</label>
        <select name="owner">
            <option value="ALL">Wszyscy</option>
            <option value="Grzyb">Grzyb</option>
            <option value="Mazur">Mazur</option>
            <option value="Rafal">Rafał</option>
            <option value="Krzyś">Krzyś</option>
        </select>
        <br><br>

        <label>Ile gier losować:</label>
        <select name="limit">
        <option value="1">1</option>
        <option value="3" selected>3</option>
        <option value="ALL">Wszystkie</option>
        </select>
        <br><br>

        <button type="submit">Szukaj gry</button>
    </form>
    <br><a href="/">🔙 Powrót do menu</a>
{% endblock %}